@tailwind base;
@tailwind components;
@tailwind utilities;
/* fonts */
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap");

body {
  font-size: 15px;
  font-family: "League Spartan", sans-serif;
  background: url("../images/bg-pattern-top-mobile.svg") top/90% no-repeat;
}
@media (min-width: 1440px) {
  body {
    background: url("../images/bg-pattern-top-desktop.svg") no-repeat,
      url("../images/bg-pattern-bottom-desktop.svg") 200% 100% / contain
        no-repeat;
  }
}
/* footer */
footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
.attribution {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.249);
  font-size: 11px;
  text-align: center;
  padding: 0.25rem 1rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
